@model User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Welcome @Model.FirstName @Model.LastName</h1>
<p>Email has been sent to @Model.Email (not really)</p>
<p>Enjoy your 10% off of a @Model.Favorite</p>
<p>Your drinks will be made with @Model.Milk unless stated otherwise</p>